<% content_for :head do %>
<script type="text/javascript">
swfobject.embedSWF("<%= graph_swf_path %>", "website_graph", "1024", "600",
"9.0.0", "expressInstall.swf",
{"data-file":"<%= website_graph_path(@website)%>.json"} );
</script>
<% end %>

<div id="website_graph">
			<h1>Flash Player Not Installed</h1>
			<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
</div>
<br/>
<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
