html{color:#000;background:#FFD33D;height:100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

.clear {
clear: both;
height: 0;
}

a {
  text-decoration: none;
}
 
h2 {
margin: 10px 0 10px;
font-size: 24px;
color: #7A6770;
}
 
strong {
font-weight: bold;
}

#container {
padding-left: 200px; /* LC fullwidth */
padding-right: 190px; /* RC fullwidth + CC padding */
width:680px;
margin: 0 auto;
}


body {
  font-family: arial, verdana, helvetica, "trebuchet MS", trebuchet, sans-serif;
  text-align: left;
  margin: 0 auto;
  height: 100%;
}

.container {
  min-height: 100%;
  position: relative;
}

.content {
  width: 1000px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFD33D;
  padding-bottom: 185px;
}

.header {
  width: 100%;
  min-width: 400px;
  height: 160px;
  margin: 0 0;
  background: url("/images/banner_right.png") repeat-x;
}

.footer {
  width: 100%;
  height: 155px;
  position: absolute;
  bottom: 0;
}

.left_right_col {
  padding: 10px;
}

.left_col {
  float: left;
  width: 200px;
  height: 200px;
  padding: 10px 0 0 0;
}

.right_col {
  float: left;
  width: 740px;
  padding: 0 20px 0 20px;
}

input[type=radio] {
  margin: 0 5px 0 10px;
}
div.element {
  margin: 10px 0 0 0;
}
div.element label {
  width: 150px;
  float:left;
}
div.element label.radio {
  width: 50px;
  float:none;
}
.contract_details div.element label {
  width: 160px;
}
div.element label.long {
  width: auto;
}
div.name div.first,div.name div.middle,div.name div.last {
  display:inline;
}
div.name input, .name .round, .name .round-border {
  width: 120px;
}

.loading {
  padding: 1px;
  background: url("/images/ajax_loader.gif") no-repeat right top;
  width:16px;
  height:16px;
  float: left;
  display: inline
}

.login_details {
  font-size: 14px;
  float: right;
}

.banner_left {
  float: left;
  height: 160px;
  background: url("/images/banner_left.png") no-repeat;
  width: 298px;
}

.banner_right{
  float:right;
}

.banner_bottom_middle{
  background: url("/images/banner_bottom_middle.png") repeat-x;
  height: 155px;
  width: 100%;
}

.banner_bottom_left, .banner_bottom_right{
  height: 155px;
  width: 127px;
}

.banner_bottom_left{
  float:left;
  background: url("/images/banner_bottom_left.png") repeat-x;
}
.banner_bottom_right{
  float:right;
  background: url("/images/banner_bottom_right.png") repeat-x;
}

.gbtrack_icon {
  height: 31px;
  width: 45px;
  background: url("/images/gbtrack_icon.png") no-repeat;
}

.header .gbtrack_icon {
   float:right;
   top: 90px;
   position: relative;
}

.icon_new_employee {
  background: url("/images/header_icon_new_employee.png") no-repeat;
  width: 75px;
  height: 69px;
  float: left;
}

.icon_id_card, .icon_contract, .icon_setup {
  margin: 0 10px 0 0;
  width: 29px;
  height: 25px;
  float: left;
}

.icon_big_details, .icon_big_contract, .icon_big_options {
  margin: 0 10px 0 0;
  width: 46px;
  height: 39px;
  float: left;
}

.icon_id_card {
  background: url("/images/icon_sm_details.png") no-repeat;
}

.icon_contract {
  background: url("/images/icon_sm_contract.png") no-repeat;
}

.icon_setup {
  background: url("/images/icon_sm_options.png") no-repeat;
}

.icon_big_details {
  background: url("/images/icon_big_details.png") no-repeat;
}

.icon_big_contract {
  background: url("/images/icon_big_contract.png") no-repeat;
}
.icon_big_options {
  background: url("/images/icon_big_options.png") no-repeat;
}

.left_col li {
  padding: 5px;
  height: 27px;
  width: 162;
  line-height: 25px;
}

.left_col li.current_page {
  background: url("/images/sidenav_active_bg.png") no-repeat;
  /**background: #E6E6E6;*/
}

.left_col {
  color: #808080;
  font-size: 16px;
}

.header h1 {
   float: left;
   line-height: 69px;
   font-weight: bold;
   font-size: 24px;
}

.note {
  font-size: 13px;
  color: #666;
  background: #FEFFEE;
  padding: 10px;
}

.notes {
  font-size: 13px;
  color: #555;
  background: #FFA63D;
  padding: 10px;
  margin: 10px;
}

.legend {
  font-size: 10px;
  color: #7A6770;
  line-height: 10px;
}

label {
  line-height: 26px;
  font-size: 14px;
  color: #7A6770;
}

p {
  color: #50474b;
  line-height: 16px;
  font-size: 14px;
}

label.radio {
  color: #000;
}

input {
  padding: 0 0 0 4px;
  height: 20px;
  font-size: 14px;
  color: #B3B3B3;
}

input.changed {
  color: #000;
}

.required {
  font-size: 12px;
  color: red;
}

.validation_error {
  font-size: 12px;
  color: red;
  margin: 0;
  display: none;
}

.requirements {
  margin: 40px 0 0 0;
  font-size: 12px;
  color: #4D4D4D;
}

.position_details {
  min-height: 44px;
  margin: 5px 0 0 0;
  font-size: 12px;
}

.round {
  background-color: #FFC600;
  float: left;
  padding: 2px;
}
.round-border {
  padding: 1px;
  background: #D07100;
  float: left;
}
.round-border.error {
  background: red;
}
.name .round-border {
  margin: 0 10px 0 0;
  float: left;
}

.hidden .round, .round-border.hidden, .round-border.hidden.error, .hidden .round input {
  background-color: #FFF;
}

.login {
  background: url("/images/login.png") no-repeat;
  height: 307px;
  width: 351px;
  padding: 20px;
}

select {
  font-size: 14px;
}
select.round {
  padding: 2px 4px 4px 0;
  height: 24px;
}

div.round input, div.round select {
  background: none;
  border: none;
  height: 24px;
  line-height: 24px;
  width: 180px;
  color: #000;
}

.login input[type="submit"] {
  height: 24px;
  width: 180px;
  float: right;
  color: #000;
}
.logout {
  font-weight: bold;
  font-size: 12px;
  margin-right: 20px;
}
.left{
  float:left;
}
.right{
  float:right;
}
.nav_action {
  background: #FFC600;
  padding: 5px;
  margin: 5px 0 5px;
}
.left_col .listing {
  width: 170px;
  font-size: 10px;
}
.listing {
  width: 700px;
  padding: 0 5px 0 5px;
}
.listing div {
  margin: 5px 0 5px 0;
}
.listing .url {
  float: left;
}
.listing .count {
  float: right;
}
.listing.highlighted {
  background: #FFF;
}
.listing.highlighted.selected {
  background: #FF8B00;
}
.listing.selected {
  background: #FF8B00;
}
#placeholder{
  height: 400px;
  width:710px;
  background: #FFF;
}
.placeholder.round {
  padding: 10px;
}
.small {
  font-size: 10px;
}
.light_red {
  color: #FF2D22;
}
