<% if current_user %>
  <div>
     <%= link_to "Dashboard", websites_path %>
  </div>
  <div>
     <%= link_to 'My Details', edit_account_path %>
  </div>
  <div>
    <% @websites.each do |website| %>
       <div>
        <div><%= link_to h(website.url), website %></div>
      </div>
    <% end %>
  </div>
  <div>
     <%= link_to 'New website', new_website_path %>
  </div>
<% end %>
