<div class="gbtrack_icon left"><!-- / --></div>
<div class="left"><h1>Terms of Service</h1></div>
<div class="clear"><!-- / --></div>
<p style="max-width: 500px;">This site and the information stored in it is not gauranteed to be here now, tomorrow or next week.  The Gerbils which maintain the site will do their best to keep the site and it's data available.  The Gerbils can not afford any legal aid and so are not to be held responsible for anything relating to the use of this website by it's users.  The Gerbils would like to thank you for taking the time to read this.  Please use this site in good faith.</p>
<br/>
<%= link_to "< back", '/' %>
